<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyphercove.doublehelix">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:theme="@style/StandardThemeSelector">
        <service android:label="@string/app_name"
            android:name=".LWService"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity android:name="com.cyphercove.doublehelix.InfoActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <activity android:name="com.cyphercove.doublehelix.PrefsActivity"
            android:label="@string/prefs_name"
            android:exported="true"
            android:hardwareAccelerated="false">
        </activity>
        <service android:name="com.cyphercove.doublehelix.Daydream"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.service.dream"
                android:resource="@xml/daydream" />
        </service>
    </application>

</manifest>
